/* dynamically footer */
.footer.navbar.fixed-bottom { 
  background-color: #f2f4f5;
  display: flex;
  justify-content: space-between;
  padding: 6px 10px; 
}

.footer .fab { 
  padding-right: 20px;
}
.navbar.fixed-bottom .container-fluid { 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#footer_info { 
  color: whitesmoke;
  margin-right: 30px;
}

.footer_text { 
  margin-right: 60px;
  color: hsla(140, 30%, 96%, 0.961);
  text-decoration: none;
}

.footer_text:hover {
  text-shadow: 0 1px 0 #1941e2, 0 -1px 0 #ccc, 1px 0 0 #ccc, -1px 0 0 #ccc;
}

@media (max-width: 991px) {
  .navbar-collapse {
    justify-content: flex-end;
  }
}

.nav-link, .navbar-brand {
  color: black !important;
  font-size: 15px!important; 
}

.nav-link:hover {
  text-shadow: 0 1px 0 #1941e2, 0 -1px 0 #ccc, 1px 0 0 #ccc, -1px 0 0 #ccc !important;
}

.navbar-toggler-icon {
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox=\'0 0 30 30\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath stroke=\'rgba(255, 255, 255, 1)\' stroke-width=\'2\' stroke-linecap=\'round\' stroke-miterlimit=\'10\' d=\'M4 7h22M4 15h22M4 23h22\'/%3E%3C/svg%3E') !important;
}

.hero-section {
  background-image: url('path-to-your-background-image.jpg');
  background-size: cover;
  background-position: center;
}

.social-links {
  display: inline-block; 
  margin-left: 450px;
}

.social-links a {
  color: rgba(3, 3, 59, 0.659); 
  margin-right: 10px;
  font-size: 1.0rem; 
}

.social-links a:hover {
  text-shadow: 0 1px 0 #8393d2, 0 -1px 0 #ccc, 1px 0 0 #ccc, -1px 0 0 #ccc !important;
}



.half-width-card {
  max-width: 50%; 
  margin: 0 auto; 
  padding: 20px;
  box-shadow: 0 4px 8px #474f55;
  background-color: #474f55; 
}

.card-body-register {
  max-width: 50%; 
  margin: 0 auto; 
  padding: 20px;
  box-shadow: 0 4px 8px #474f55;
  background-color: #474f55; 
}

.card-header-register {
  max-width: 50%; 
  margin: 0 auto; 
  padding: 20px;
  box-shadow: 0 4px 8px #474f55;
  background-color: #474f55; 
}

/* Optional: Adjust the form input and button sizes */
#loginForm .form-control, #loginForm .btn {
  max-width: 400px; /* Set a max-width for form controls and button if they are too wide */
  
  margin: 7px auto; /* Center them within the card */
}


.card-register {
  max-width: 50%; 
  margin: 0 auto; 
  padding: 20px; 
}

.content-wrapper {
  max-width: 1200px; 
  margin: 0 auto;
  padding: 1px; 
  box-shadow: 0 4px 8px #e5ebef; 
  background-color: #474f55; 
}


@media (max-width: 1200px) {
  .content-wrapper {
    max-width: 10%;
  }
}

.fixed-bottom {
  right: inherit;
  bottom: 0;
  left: auto;
  z-index: 1030;
}


.social-links {
  display: inline-block;
  margin-left: 150px;
  font-size: 1px;
  height: 0px;
}


.navbar-text {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #000;
}






